/* 
要素型セレクタ
*/
html {
    font-size: 62.5%;
}
body {
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    cursor: pointer;
}
header {
    width: 100%;
    height: 6rem;
    position: fixed;
    top: 0;
    border-bottom: 1px solid rgba(175, 172, 172, 0.85);
}

/*
クラスセレクタ
*/

/*
body > header
*/
.header-ul {
    height: 6rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 4rem;
}
.header-li {
    margin-left: 5rem;
}
.header-li-a {
    font-size: 1.4rem;
    line-height: 6rem;
    padding: 1.25rem 0;
}